<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebSocks</title>
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bulma@0.7.1/css/bulma.min.css" integrity="sha256-zIG416V1ynj3Wgju/scU80KAEWOsO5rRLfVyRDuOv7Q=" crossorigin="anonymous">
    {% block head %} {% endblock %}
</head>
<body>
{% block body %} {% endblock %}

<footer>
    <div class="content has-text-centered">
        <p>
            <a href="https://websocks.org/" target="_blank"><strong>WebSocks</strong></a> by <a href="https://halu.lu/" target="_blank">Halulu</a>
        </p>
    </div>
</footer>

</body>
</html>