{% extends "base/base.html" %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-switch@2.0.0/dist/css/bulma-switch.min.css"
      integrity="sha256-jCV/cXwP13w0GNHLgFx6SFgTNAvJPvS5MIhuE30Ng08=" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"
        integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
<script>
    function Start() {
        let ListenAddr = document.getElementById("ListenAddr").value;
        let ServerURL = document.getElementById("ServerURL").value;
        let SNI = document.getElementById("SNI").value;
        let InsecureCert = document.getElementById("InsecureCert").checked;
        axios.post('/api/v0/client/start', {
            ListenAddr,
            ServerURL,
            SNI,
            InsecureCert,
        })
                .then(console.log)
                .catch(console.log);

        window.setInterval(getStats, 1000);
        window.setInterval(getLog, 1000);
    }

    function Stop() {
        axios.post('/api/v0/client/stop')
                .then(console.log)
                .catch(console.log);
    }

    function getStats() {
        axios.get('/api/v0/client/stats')
                .then(function (response) {
                    document.getElementById("Downloaded").innerHTML = response.data.Downloaded;
                    document.getElementById("DownloadSpeed").innerHTML = response.data.DownloadSpeed;
                    document.getElementById("Uploaded").innerHTML = response.data.Uploaded;
                    document.getElementById("UploadSpeed").innerHTML = response.data.UploadSpeed;
                })
                .catch(function (error) {
                    console.log(error);
                });
    }

    function getLog() {
        axios.get('/api/v0/client/log')
                .then(function (response) {
                    document.getElementById("log").value = response.data
                })
                .catch(function (error) {
                    console.log(error);
                });
    }
</script>
{% endblock %}
{% block body %}
<section class="section">
    <div class="container">
        <h1 class="title">
            WebSocks Client
        </h1>
        <p class="subtitle">
            A secure proxy based on WebSocket.
        </p>

    </div>
</section>

<section>
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="box">
                    <div class="field">
                        <label class="label" for="ListenAddr">ListenAddr</label>
                        <div class="control">
                            <input class="input" type="text" id="ListenAddr" name="ListenAddr" placeholder=":10801">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="ServerURL">ServerURL</label>
                        <div class="control">
                            <input class="input" type="text" id="ServerURL" name="ServerURL"
                                   placeholder="wss://server.com:2333/password">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="SNI">SNI</label>
                        <div class="control">
                            <input class="input" type="text" id="SNI" name="SNI" placeholder="mirror.centos.org">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input type="checkbox" id="InsecureCert" name="InsecureCert" class="switch"
                                   checked="checked">
                            <label for="InsecureCert">InsecureCert</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <p class="control">
                        <button class="button" onclick="Start()">Start</button>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <button class="button" onclick="Stop()">Stop</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="box">
            <p class="subtitle">Client Stats</p>
            <div class="content">
                <table>
                    <thead>
                    <tr>
                        <th>
                            Downloaded
                        </th>
                        <th>
                            Uploaded
                        </th>
                        <th>
                            DownloadSpeed
                        </th>
                        <th>
                            UploadSpeed
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="Downloaded">
                            0
                        </td>
                        <td id="Uploaded">
                            0
                        </td>
                        <td id="DownloadSpeed">
                            0
                        </td>
                        <td id="UploadSpeed">
                            0
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="box">
            <p class="subtitle">Logs</p>
            <textarea class="textarea" id="log" type="text" readonly rows="10">Log...</textarea>
        </div>
    </div>
</section>
{% endblock %}